
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1440px;
  margin:auto;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("./fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("./fonts/Poppins-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style:normal;
  font-display: swap;
}
.header {
  width: 100%;
}

h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 44px;
}
h2 {
  font-family: "Poppins-Bold", sans-serif;
  font-size: 40px;
}
h3 {
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
}
h4 {
  font-family: "Poppins-Bold", sans-serif;
  font-size: 24px;
}
h5 {
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 140%;
}
h6 {
  font-family: "Poppins-Bold", sans-serif;
  font-size: 16px;
}

.sub-L {
  font-family: "Poppins-SemiBold";
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.sub-M {
  font-family: "Poppins-Regular";
  font-weight:400;
  font-size: 14px;
  line-height: 150%;
}

.sub-S {
  font-family: "Poppins-Regular";
  font-weight:400;
  font-size: 12px;
  line-height: 140%;
}

.sub-XS {
  font-family: "Poppins-Regular";
  font-weight:400;
  font-size: 10px;
  line-height: 140%;
}

.body-XL {
  font-family: "Poppins-Regular";
  font-weight:400;
  font-size: 20px;
  line-height: 140%;
}

.body-L {
  font-family: "Poppins-Regular";
  font-weight:400;
  font-size: 18px;
  line-height: 140%;
}

.body-M {
  font-family: "Poppins-Regular";
  font-weight:400;
  font-size: 16px;
  line-height: 150%;
}

.body-S {
  font-family: "Poppins-Regular";
  font-weight:400;
  font-size: 14px;
  line-height: 150%;
}

.body-XS {
  font-family: "Poppins-Regular";
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.body-XXS {
  font-family: "Poppins-Light";
  font-weight: 300;
  font-size: 10px;
  line-height: 140%;
}

.cap-L {
  font-family: "Poppins-ExtraBold";
  font-weight: 800;
  font-size: 14px;
  line-height: 140%;
}

.cap-M {
  font-family: "Poppins-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.cap-S {
  font-family: "Poppins-Medium";
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
}

.but-XXL {
  font-family: "Poppins-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
}

.but-XL {
  font-family: "Poppins-Medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.but-L {
  font-family: "Poppins-SemiBold";
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
}

.but-M {
  font-family: "Poppins-Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

.but-S {
  font-family: "Poppins-Bold";
  font-weight: 700;
  font-size: 10px;
  line-height: 140%;
}

.but-XS {
  font-family: "Poppins-Regular";
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
}

.label-M {
  font-family: "Poppins-Bold";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 140%;
}

.label-S {
  font-family: "Poppins-SemiBold";
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.8;
  line-height: 140%;
}

.label-XS {
  font-family: "Poppins-SemiBold";
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.8;
  line-height: 140%;
}

p {
  font-family: "Poppins-Regular", sans-serif;
}

input {
  font-family: "Poppins-Regular", sans-serif;
}

button {
  font-family: "Poppins-Medium", sans-serif;
  cursor: pointer;
}

:root {
  --color-neutral-100: #F9F9F9;
  --color-neutral-200: #EFEFEF;
  --color-neutral-300: #D9D9D9;
  --color-neutral-400: #A6A6A6;
  --color-neutral-500: #565656;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-primary-400: #2F83B2;
  --color-primary-500: #07689F;
  --color-primary-600: #043E5F;
  --color-green: #112211;
  --color-error-light:#e5062e;
  --color-success:#4c9839;
  --border-radius: 8px;
}